


/* start roles */

.roles{
    padding: 50px 0;
    .header-content{
        position: relative;
        padding: 50px 0;
       .line{
           border-bottom: 1px solid $maincolor;
           position: absolute;
           width: 30%;
           top: 77px;
           z-index: 1;
           @media (max-width: 768px) {
               width: 20%;
           }
          }
          .l-one{
              left: 0;

  
          }
          .l-two{
              right: 0;
  
          }
           h2{
              text-align: center;
           }
    }
    .global-col{
        .role{
            border: 1px solid #999 ;
            border-radius: 2px;
            background-color: #e4f6fb;
            padding: 20px;
            margin-bottom: 20px;
            .role-head{
                position: relative;
                border-bottom:1px solid #999;
                @include prefixer(transition, all .5s ease-in-out, webkit moz o);
                font-size: 16px;
                padding-bottom: 5px;
                i{
                    font-size: 30px;
                    color: $maincolor;
                }
                .role-title{
                    font-size: 16px;
                    position: absolute;
                    bottom: 4px;
                    right: 35px;
                    color: $maincolor;
                }
            }
            .role-body{
                p{
                    margin-top: 10px;
                    line-height: 2;
                    font-size: 13px;
                }
            }

        }
        .role-gide{
            background: linear-gradient(to top left, #27b5bb, #000);
            color: #FFF;
        }
       
    }
    .right-col{
       .first{
           border-bottom:2px solid $islamcolor;
           .fa-mosque{
               color: $islamcolor;
           }
           &:hover{
               background-color: $islamcolor;
           }
       }
       .second{
           border-bottom:2px solid $chesscolor;
           .fa-mosque{
               color: $chesscolor;
           }
           &:hover{
               background-color: $chesscolor;
           }
       }
    }
    .mid-col{
       .first{
           border-bottom:2px solid $foodcolor;
           .fa-hamburger{
               color: $foodcolor;
           }

           &:hover{
               background-color: $foodcolor;
           }
       }
    }
    .left-col{
        .img {
            margin-bottom: 50px ;
            width: 100%;

        }
       .first{
           border-bottom:2px solid $healthycolor;
           ;
           .fa-apple-alt{
               color: $healthycolor;
               ;
           }
           &:hover{
               background-color: $healthycolor;
               ;
           }
       }

    }
}
/* end roles */
