$maxMobile : 767px;
$minMedium : 768px;
$maincolor:#27b5bb;
$secondcolor:#33444e;
$navcolor :$maincolor;
$navbackcolor: $secondcolor;
$foodcolor: #00F;
$islamcolor:rgb(146, 72, 12);
$healthycolor:#080;
$chesscolor: rgb(255, 99, 71);
$borderColor :#e8e8e8;
$listHead:25px;
$listFont : 20px; 
$paragColor:#555;
$pargBK : #f3f1f1;